@charset "UTF-8";
body {
  font-size: 1em;
}

.link {
  line-height: 1.17;
  color: #333333;
}

@media (max-width: 768px) {
  .link {
    font-size: 1.125em;
    line-height: 1.5em;
  }
}

.title {
  font-size: 1.25em;
  line-height: 1.3;
}

.c1 {
  color: #333333;
}

.c2 {
  color: #666666;
}

.c3 {
  color: #777777;
}

.bg1 {
  background-color: #E5E5E5;
}

.bg2 {
  background-color: #F9F9F9;
}

.bg3 {
  background-color: #E2E2E2;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #CECECE;
  border-radius: 100px;
  padding: 15px 28px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  line-height: 1.17;
  color: #333333;
}

.button:hover {
  background-color: #E5E5E5;
}

h6.d-none {
  display: none;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff-2") format("woff-2");
  font-weight: 400;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  padding-top: 23px;
  padding-bottom: 64px;
}

@media (max-width: 768px) {
  .header__body {
    padding-bottom: 23px;
  }
}

.header__logo {
  max-width: 184px;
}

.header__logo img {
  max-width: 100%;
}

.header__text {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.header__menu {
  top: 100%;
}

.menu {
  position: absolute;
  z-index: 1;
  left: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 100%;
  border: 1px solid #E2E2E2;
  border-radius: 5px;
  background: #fff;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.menu__list li {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  position: relative;
  padding: 24px 0;
}

.menu__list li:not(:last-child) ::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 1px;
  height: 50px;
  background-color: #E2E2E2;
}

.menu__list a {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  padding: 7px;
  display: inline-block;
}

@media (min-width: 768px) {
  .menu__list a:hover {
    font-size: 1.15em;
    padding: 0px;
  }
}

.burger {
  display: none;
  width: 40px;
  height: 22px;
  position: relative;
}

.burger span, .burger:before, .burger:after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #333333;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  border-radius: 5px;
}

.burger:before {
  content: '';
  top: 0;
}

.burger:after {
  content: '';
  bottom: 0;
}

.burger span {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

@media (max-width: 768px) {
  .header__logo {
    z-index: 2;
    color: green;
  }
  .header__text {
    position: relative;
    top: 0;
    left: 0;
    -webkit-transform: translate(0, 5px);
            transform: translate(0, 5px);
    z-index: 2;
  }
  .menu {
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    -webkit-transform: translate(0, -100%);
            transform: translate(0, -100%);
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 8px;
    -webkit-transition: all .7s ease;
    transition: all .7s ease;
    padding: 100px 0 0 0;
  }
}

@media (max-width: 768px) and (max-width: 600px) {
  .menu {
    padding-top: 140px;
  }
}

@media (max-width: 768px) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #fff;
  }
  .menu__list a {
    padding: 5px;
    color: #333333;
  }
  .menu__list li {
    padding: 18px 0;
    width: 100%;
  }
  .menu__list li:not(:last-child) :after {
    display: block;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #E2E2E2;
  }
  .burger {
    display: block;
    z-index: 2;
    -webkit-transform: translate(0, 5px);
            transform: translate(0, 5px);
  }
}

.burger.active:before {
  top: 50%;
  -webkit-transform: translate(0, -50%) rotate(45deg);
          transform: translate(0, -50%) rotate(45deg);
  background-color: #999999;
  height: 2px;
}

.burger.active span {
  -webkit-transform: translate(0, -50%) scale(0);
          transform: translate(0, -50%) scale(0);
}

.burger.active:after {
  bottom: 50%;
  -webkit-transform: translate(0, 50%) rotate(-45deg);
          transform: translate(0, 50%) rotate(-45deg);
  background-color: #999999;
  height: 2px;
}

.menu.active {
  pointer-events: all;
  top: 0;
  -webkit-transition: all .8s ease;
  transition: all .8s ease;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  height: 100%;
  overflow: auto;
}

@media (max-width: 600px) {
  .header__text {
    margin-top: 14px;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    text-align: center;
    position: relative;
    top: 0;
    left: 0;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  .header__burger {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .header__menu {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .burger {
    -webkit-transform: translate(0, 2px);
            transform: translate(0, 2px);
  }
}

header.header,
main.main {
  background-color: #F8F9FA;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  color: #666666;
  padding-bottom: 101px;
}

@media (max-width: 768px) {
  main {
    padding-bottom: 37px;
  }
}

@media (max-width: 568px) {
  main {
    padding-bottom: 27px;
  }
}

.title {
  font-size: 1.25em;
  line-height: 1.3;
  color: #333333;
}

@media (max-width: 768px) {
  .title {
    font-size: 1em;
    line-height: 1.5;
  }
}

.list li {
  line-height: 1.75;
  position: relative;
  padding-left: 10px;
}

.list li:before {
  content: "";
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #666666;
  position: absolute;
  top: 12px;
  left: 0;
}

.list li:not(:last-child) {
  margin-bottom: 10px;
}

/*Первый блок Mission ====================================================*/
.mission {
  background-color: #fff;
  padding-top: 66px;
  padding-bottom: 56px;
}

@media (max-width: 768px) {
  .mission {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.mission__label {
  text-align: center;
  padding: 15px 25px;
  margin-bottom: 37px;
  background-color: #F8F9FA;
}

@media (max-width: 568px) {
  .mission__label {
    padding: 12px 25px;
    margin-bottom: 52px;
  }
}

.mission__body {
  max-width: 1280px;
  margin: 0 auto;
}

.mission__sublabel {
  text-align: center;
  line-height: 1.875;
  margin-bottom: 19px;
}

@media (max-width: 768px) {
  .mission__sublabel {
    margin-bottom: 34px;
    padding: 0 15px;
  }
}

@media (max-width: 568px) {
  .mission__sublabel {
    margin-bottom: 28px;
  }
}

.mission__image {
  position: relative;
  padding-bottom: 27.34%;
  margin-bottom: 36px;
}

.mission__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@media (max-width: 568px) {
  .mission__image {
    margin-bottom: 25px;
  }
}

.mission__title {
  margin-bottom: 17px;
}

@media (max-width: 768px) {
  .mission__title {
    margin-bottom: 9px;
  }
}

@media (max-width: 568px) {
  .mission__title {
    margin-bottom: 23px;
  }
}

/*Второй блок Video ======================================================*/
.video {
  padding: 45px 0;
}

@media (max-width: 768px) {
  .video {
    padding: 41px 15px 26px;
  }
}

@media (max-width: 568px) {
  .video {
    padding: 30px 0;
  }
}

.video__file {
  position: relative;
  padding-bottom: 17.5%;
}

.video__file::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid #fff;
}

.video__file::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-30%, -50%);
          transform: translate(-30%, -50%);
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-bottom-width: 22px;
  border-top-width: 22px;
  border-left: 29px solid #fff;
  z-index: 1;
}

@media (max-width: 1000px) {
  .video__file {
    padding-bottom: 25%;
  }
}

@media (max-width: 768px) {
  .video__file {
    padding-bottom: 39%;
  }
}

@media (max-width: 568px) {
  .video__file {
    padding-bottom: 68.75%;
  }
}

.video__file img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  background-color: #000;
}

/*Третий блок About ======================================================*/
.about__body {
  background-color: #fff;
  padding: 55px 45px 45px;
  border-radius: 5px;
  border: 1px solid #E6E6E6;
}

@media (max-width: 768px) {
  .about__body {
    padding: 35px 15px;
  }
}

@media (max-width: 568px) {
  .about__body {
    padding: 35px 13px 25px;
  }
}

.about__title {
  margin-bottom: 17px;
}

.about__text {
  margin-bottom: 32px;
  max-width: 821px;
}

@media (max-width: 768px) {
  .about__text {
    margin-bottom: 18px;
  }
}

@media (max-width: 568px) {
  .about__text {
    margin-bottom: 32px;
  }
}

.content-about {
  padding-top: 35px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 40px;
          column-gap: 40px;
}

.content-about::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #E2E2E2;
}

@media (max-width: 768px) {
  .content-about {
    padding-top: 25px;
  }
}

@media (max-width: 568px) {
  .content-about {
    padding-top: 35px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 20px;
  }
}

.content-about__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

@media (max-width: 568px) {
  .content-about__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.content-about__subtitle {
  line-height: 1.5;
  color: #333333;
  margin-bottom: 17px;
}

@media (max-width: 768px) {
  .content-about__subtitle {
    margin-bottom: 7px;
  }
}

@media (max-width: 568px) {
  .content-about__subtitle {
    margin-bottom: 3px;
  }
}

.content-about__list {
  color: #777777;
}

/*Четвертый блок Columns =================================================*/
.columns {
  padding-top: 63px;
  padding-bottom: 46px;
}

@media (max-width: 768px) {
  .columns {
    padding-top: 53px;
    padding-bottom: 30px;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 75px;
  margin: 0 -100px;
}

@media (max-width: 1400px) {
  .row {
    margin: 0 -50px;
  }
}

@media (max-width: 1200px) {
  .row {
    margin: 0 -35px;
  }
}

@media (max-width: 768px) {
  .row {
    margin: 0 -22px;
    row-gap: 25px;
  }
}

@media (max-width: 568px) {
  .row {
    margin: 0;
    row-gap: 37px;
  }
}

.row__item {
  padding: 0 100px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1400px) {
  .row__item {
    padding: 0 50px;
  }
}

@media (max-width: 1200px) {
  .row__item {
    padding: 0 35px;
  }
}

@media (max-width: 768px) {
  .row__item {
    padding: 0 22px;
  }
}

@media (max-width: 568px) {
  .row__item {
    padding: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.row__image {
  margin-right: 24px;
}

@media (max-width: 768px) {
  .row__image {
    margin-right: 14px;
  }
}

@media (max-width: 568px) {
  .row__image {
    margin-right: 0;
    margin-bottom: 9px;
  }
}

.row__text {
  line-height: 1.5;
  color: #333333;
}

/*Пятый блок Info ========================================================*/
.info__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

@media (max-width: 1400px) {
  .info__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.info__image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 38.3%;
          flex: 1 1 38.3%;
}

.info__image img {
  border-radius: 4px;
}

@media (max-width: 1400px) {
  .info__image {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .info__image {
    margin-bottom: 17px;
  }
}

.info__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 61.7%;
          flex: 0 0 61.7%;
  padding-right: 32px;
}

@media (max-width: 1400px) {
  .info__content {
    max-width: 900px;
    padding: 0 15px 36px;
  }
}

@media (max-width: 450px) {
  .info__content {
    text-align: center;
  }
}

.info__text {
  color: #000;
  line-height: 1.5;
  margin-bottom: 17px;
  text-align: left;
}

@media (max-width: 450px) {
  .info__button {
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.footer {
  background-color: #fff;
}

.footer__body {
  position: relative;
  padding-top: 69px;
  padding-bottom: 32px;
}

@media (max-width: 768px) {
  .footer__body {
    padding: 13px 0;
  }
}

.footer__menu {
  top: 0;
}

@media (max-width: 768px) {
  .footer__menu {
    display: none;
  }
}

.footer__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 0.875em;
  line-height: 1.43;
  color: #999999;
}

.footer__content {
  text-align: justify;
  margin-bottom: 10px;
}

.footer__copyright {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

@media (max-width: 768px) {
  .footer__copyright {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

body.lock {
  overflow: hidden;
}

body {
  font-family: "Roboto";
}

main p {
  line-height: 1.5;
}

[class*=__container] {
  max-width: 1420px;
  margin: 0 auto;
  padding: 0 30px;
}

@media (max-width: 768px) {
  [class*=__container] {
    max-width: none;
    padding: 0 15px;
  }
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100vh;
}

/*==========================================================*/
