@charset "UTF-8";
body {
  font-size: 1em;
}

.link {
  line-height: 1.17;
  color: #333333;
}

@media (max-width: 768px) {
  .link {
    font-size: 1.125em;
    line-height: 1.5em;
  }
}

.title {
  font-size: 1.25em;
  line-height: 1.3;
}

.c1 {
  color: #333333;
}

.c2 {
  color: #666666;
}

.c3 {
  color: #777777;
}

.bg1 {
  background-color: #E5E5E5;
}

.bg2 {
  background-color: #F9F9F9;
}

.bg3 {
  background-color: #E2E2E2;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #CECECE;
  border-radius: 100px;
  padding: 15px 28px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  line-height: 1.17;
  color: #333333;
}

.button:hover {
  background-color: #333333;
  color: #fff;
}

.button:active {
  color: #333333;
  background-color: #fff;
  border: 3px solid #CECECE;
}

h6.d-none {
  display: none;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff-2") format("woff-2");
  font-weight: 400;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.header {
  background-color: #F8F9FA;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  padding-top: 23px;
  padding-bottom: 64px;
}

@media (max-width: 768px) {
  .header__body {
    padding-bottom: 23px;
  }
}

.header__logo {
  max-width: 184px;
}

.header__logo img {
  max-width: 100%;
}

.header__text {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.header__menu {
  top: 100%;
}

.menu {
  position: absolute;
  z-index: 1;
  left: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 100%;
  border: 1px solid #E2E2E2;
  border-radius: 5px;
  background: #fff;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.menu__list li {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  position: relative;
  padding: 24px 0;
}

.menu__list li:not(:last-child) ::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 1px;
  height: 50px;
  background-color: #E2E2E2;
}

.menu__list a {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  padding: 7px;
  display: inline-block;
}

@media (min-width: 768px) {
  .menu__list a:hover {
    font-size: 1.15em;
    padding: 0px;
  }
}

.burger {
  display: none;
  width: 40px;
  height: 22px;
  position: relative;
}

.burger span, .burger:before, .burger:after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #333333;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  border-radius: 5px;
}

.burger:before {
  content: '';
  top: 0;
}

.burger:after {
  content: '';
  bottom: 0;
}

.burger span {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

@media (max-width: 768px) {
  .header__logo {
    z-index: 2;
    color: green;
  }
  .header__text {
    position: relative;
    top: 0;
    left: 0;
    -webkit-transform: translate(0, 5px);
            transform: translate(0, 5px);
    z-index: 2;
  }
  .menu {
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    -webkit-transform: translate(0, -100%);
            transform: translate(0, -100%);
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 8px;
    -webkit-transition: all .7s ease;
    transition: all .7s ease;
    padding: 100px 0 0 0;
  }
}

@media (max-width: 768px) and (max-width: 600px) {
  .menu {
    padding-top: 140px;
  }
}

@media (max-width: 768px) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #fff;
  }
  .menu__list a {
    padding: 5px;
    color: #333333;
  }
  .menu__list li {
    padding: 18px 0;
    width: 100%;
  }
  .menu__list li:not(:last-child) :after {
    display: block;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #E2E2E2;
  }
  .burger {
    display: block;
    z-index: 2;
    -webkit-transform: translate(0, 5px);
            transform: translate(0, 5px);
  }
}

.burger.active:before {
  top: 50%;
  -webkit-transform: translate(0, -50%) rotate(45deg);
          transform: translate(0, -50%) rotate(45deg);
  background-color: #999999;
  height: 2px;
}

.burger.active span {
  -webkit-transform: translate(0, -50%) scale(0);
          transform: translate(0, -50%) scale(0);
}

.burger.active:after {
  bottom: 50%;
  -webkit-transform: translate(0, 50%) rotate(-45deg);
          transform: translate(0, 50%) rotate(-45deg);
  background-color: #999999;
  height: 2px;
}

.menu.active {
  pointer-events: all;
  top: 0;
  -webkit-transition: all .8s ease;
  transition: all .8s ease;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  height: 100%;
  overflow: auto;
}

@media (max-width: 600px) {
  .header__text {
    margin-top: 14px;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    text-align: center;
    position: relative;
    top: 0;
    left: 0;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  .header__burger {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .header__menu {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .burger {
    -webkit-transform: translate(0, 2px);
            transform: translate(0, 2px);
  }
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background-color: #fff;
  position: relative;
}

/*Первый блок ====================================================*/
.contacts {
  padding-top: 95px;
}

@media (max-width: 1200px) {
  .contacts {
    padding-top: 40px;
  }
}

@media (max-width: 768px) {
  .contacts {
    padding-bottom: 0;
  }
}

@media (max-width: 590px) {
  .contacts {
    padding-top: 38px;
  }
}

.contacts::after {
  content: "";
  display: block;
  height: 90px;
  background-color: #E5E5E5;
  margin-top: 65px;
}

@media (max-width: 1200px) {
  .contacts {
    display: none;
  }
}

@media (max-width: 590px) {
  .contacts {
    display: block;
  }
  .contacts::after {
    height: 25px;
    margin-top: 25px;
  }
}

.contacts__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

@media (max-width: 1200px) {
  .contacts__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 30px;
  }
}

.contacts__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 37px;
}

@media (max-width: 1200px) {
  .contacts__content {
    margin: 0 -15px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.contacts__title {
  margin-bottom: 40px;
}

@media (max-width: 1200px) {
  .contacts__title {
    margin-bottom: 3px;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    padding: 0 15px;
  }
}

.contacts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts__list li {
  line-height: 1.6;
}

.contacts__list li a {
  color: #337AB7;
}

.contacts__list li span {
  color: #999999;
}

.contacts__list li span.viber {
  color: #79509A;
}

@media (max-width: 1200px) {
  .contacts__list {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    padding: 0 15px;
  }
}

@media (max-width: 590px) {
  .contacts__list {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

.contacts__map {
  margin: -20px 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 73.5%;
          flex: 0 1 73.5%;
  position: relative;
}

@media (max-width: 1200px) {
  .contacts__map {
    padding-bottom: 74%;
    margin: 0;
  }
}

@media (max-width: 768px) {
  .contacts__map {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    width: 100vw;
    left: -15px;
  }
}

@media (max-width: 590px) {
  .contacts__map {
    min-height: 570px;
  }
}

.contacts__map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.footer {
  background-color: #fff;
}

.footer__body {
  position: relative;
  padding-top: 69px;
  padding-bottom: 32px;
}

@media (max-width: 768px) {
  .footer__body {
    padding: 13px 0;
  }
}

.footer__menu {
  top: 0;
}

@media (max-width: 768px) {
  .footer__menu {
    display: none;
  }
}

.footer__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 0.875em;
  line-height: 1.43;
  color: #999999;
}

.footer__content {
  text-align: justify;
  margin-bottom: 10px;
}

.footer__copyright {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

@media (max-width: 768px) {
  .footer__copyright {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

body.lock {
  overflow: hidden;
}

body {
  font-family: "Roboto";
}

main p {
  line-height: 1.5;
}

[class*=__container] {
  max-width: 1420px;
  margin: 0 auto;
  padding: 0 30px;
}

@media (max-width: 768px) {
  [class*=__container] {
    max-width: none;
    padding: 0 15px;
  }
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100vh;
}

/*==========================================================*/
