@charset "UTF-8";
body {
  font-size: 1em;
}

.link {
  line-height: 1.17;
  color: #333333;
}

@media (max-width: 768px) {
  .link {
    font-size: 1.125em;
    line-height: 1.5em;
  }
}

.title {
  font-size: 1.25em;
  line-height: 1.3;
}

.c1 {
  color: #333333;
}

.c2 {
  color: #666666;
}

.c3 {
  color: #777777;
}

.bg1 {
  background-color: #E5E5E5;
}

.bg2 {
  background-color: #F9F9F9;
}

.bg3 {
  background-color: #E2E2E2;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #CECECE;
  border-radius: 100px;
  padding: 15px 28px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  line-height: 1.17;
  color: #333333;
}

.button:hover {
  background-color: #E5E5E5;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff-2") format("woff-2");
  font-weight: 400;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  padding-top: 23px;
  padding-bottom: 64px;
}

@media (max-width: 768px) {
  .header__body {
    padding-bottom: 23px;
  }
}

.header__logo {
  max-width: 184px;
}

.header__logo img {
  max-width: 100%;
}

.header__text {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.header__menu {
  top: 100%;
}

.menu {
  position: absolute;
  z-index: 1;
  left: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 100%;
  border: 1px solid #E2E2E2;
  border-radius: 5px;
  background: #fff;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.menu__list li {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  position: relative;
  padding: 24px 0;
}

.menu__list li:not(:last-child) ::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 1px;
  height: 50px;
  background-color: #E2E2E2;
}

.menu__list a {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  padding: 7px;
  display: inline-block;
}

@media (min-width: 768px) {
  .menu__list a:hover {
    font-size: 1.15em;
    padding: 0px;
  }
}

.burger {
  display: none;
  width: 40px;
  height: 22px;
  position: relative;
}

.burger span, .burger:before, .burger:after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #333333;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  border-radius: 5px;
}

.burger:before {
  content: '';
  top: 0;
}

.burger:after {
  content: '';
  bottom: 0;
}

.burger span {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

@media (max-width: 768px) {
  .header__logo {
    z-index: 2;
    color: green;
  }
  .header__text {
    position: relative;
    top: 0;
    left: 0;
    -webkit-transform: translate(0, 5px);
            transform: translate(0, 5px);
    z-index: 2;
  }
  .menu {
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    -webkit-transform: translate(0, -100%);
            transform: translate(0, -100%);
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 8px;
    -webkit-transition: all .7s ease;
    transition: all .7s ease;
    padding: 100px 0 0 0;
  }
}

@media (max-width: 768px) and (max-width: 600px) {
  .menu {
    padding-top: 140px;
  }
}

@media (max-width: 768px) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #fff;
  }
  .menu__list a {
    padding: 5px;
    color: #333333;
  }
  .menu__list li {
    padding: 18px 0;
    width: 100%;
  }
  .menu__list li:not(:last-child) :after {
    display: block;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #E2E2E2;
  }
  .burger {
    display: block;
    z-index: 2;
    -webkit-transform: translate(0, 5px);
            transform: translate(0, 5px);
  }
}

.burger.active:before {
  top: 50%;
  -webkit-transform: translate(0, -50%) rotate(45deg);
          transform: translate(0, -50%) rotate(45deg);
  background-color: #999999;
  height: 2px;
}

.burger.active span {
  -webkit-transform: translate(0, -50%) scale(0);
          transform: translate(0, -50%) scale(0);
}

.burger.active:after {
  bottom: 50%;
  -webkit-transform: translate(0, 50%) rotate(-45deg);
          transform: translate(0, 50%) rotate(-45deg);
  background-color: #999999;
  height: 2px;
}

.menu.active {
  pointer-events: all;
  top: 0;
  -webkit-transition: all .8s ease;
  transition: all .8s ease;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  height: 100%;
  overflow: auto;
}

@media (max-width: 600px) {
  .header__text {
    margin-top: 14px;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    text-align: center;
    position: relative;
    top: 0;
    left: 0;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  .header__burger {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .header__menu {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .burger {
    -webkit-transform: translate(0, 2px);
            transform: translate(0, 2px);
  }
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

/*Первый блок ====================================================*/
.hero {
  position: relative;
  padding-bottom: 45.1%;
}

@media (max-width: 768px) {
  .hero {
    padding: 0;
  }
}

.hero__main-image {
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@media (max-width: 768px) {
  .hero__main-image {
    display: none;
  }
}

.hero__body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .hero__body {
    position: relative;
    top: 0;
    left: 0;
    padding: 0 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 30px;
            column-gap: 30px;
  }
}

@media (max-width: 630px) {
  .hero__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 0px;
            column-gap: 0px;
    row-gap: 10px;
  }
}

.hero__item {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background-color: #fff;
}

@media (max-width: 768px) {
  .hero__item {
    position: relative;
    top: 0;
    left: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.hero__item-left {
  left: 0;
}

.hero__item-right {
  right: 0;
}

.hero__button.slider__button {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 67px;
  height: 67px;
  border-radius: 50%;
  background-color: #FF0000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 1;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  cursor: pointer;
}

.hero__button.slider__button:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 1px;
  height: 30px;
  background-color: #fff;
}

.hero__button.slider__button:hover {
  -webkit-transform: translate(-50%, -50%) scale(1.2);
          transform: translate(-50%, -50%) scale(1.2);
}

.hero__button.slider__button p {
  font-size: 36px;
  color: #fff;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.hero__button.slider__button p:first-child {
  left: 0;
  -webkit-transform: translate(50%, -54%);
          transform: translate(50%, -54%);
}

.hero__button.slider__button p:last-child {
  right: 0;
  -webkit-transform: translate(-50%, -54%);
          transform: translate(-50%, -54%);
}

@media (max-width: 768px) {
  .hero__button.slider__button {
    display: none;
  }
}

.item-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 32px 30px 37px;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .item-hero {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.item-hero__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 32px;
}

.item-hero__icon {
  width: 42px;
  height: 42px;
  margin-right: 7px;
  border: 2px solid #27AE60;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-hero__icon img {
  max-width: 100%;
}

.item-hero__title {
  max-width: 172px;
  color: #666666;
  line-height: 1.375;
}

.item-hero__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #CECECE;
  border-radius: 100px;
  padding: 15px;
  max-width: 200px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  line-height: 1.17;
  color: #333333;
}

.item-hero__button:hover {
  background-color: #E5E5E5;
}

@media (max-width: 768px) {
  .item-hero__button {
    width: 225px;
  }
}

@media (max-width: 1200px) {
  .item-hero {
    background-color: rgba(255, 255, 255, 0.9);
  }
}

@media (max-width: 768px) {
  .item-hero {
    background-color: #fff;
  }
}

/* Cards ====================================================*/
.cards__body {
  padding: 74px 0 105px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

@media (max-width: 768px) {
  .cards__body {
    padding: 60px 0 30px;
  }
}

@media (max-width: 660px) {
  .cards__body {
    padding: 47px 0 24px;
  }
}

.cards .header__logo {
  margin-bottom: 29px;
  z-index: 0;
}

.cards__title {
  font-size: 1.25em;
  line-height: 1.3;
  color: #333333;
  margin-bottom: 29px;
}

.cards__text {
  line-height: 1.5;
  color: #333333;
  max-width: 811px;
  margin: 0 auto;
}

.cards__item {
  width: 100%;
}

.item-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 48px;
  row-gap: 25px;
  -webkit-column-gap: 17px;
          column-gap: 17px;
}

@media (max-width: 768px) {
  .item-cards {
    gap: 25px;
  }
}

.item-cards__card {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (max-width: 1200px) {
  .item-cards__card {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 48%;
            flex: 0 1 48%;
  }
}

@media (max-width: 660px) {
  .item-cards__card {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

.item-cards__card:hover .item-cards__image img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.item-cards__body {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  overflow: hidden;
}

.item-cards__image {
  margin-bottom: 28px;
  position: relative;
  padding-bottom: 45%;
  width: 100%;
  overflow: hidden;
}

@media (max-width: 768px) {
  .item-cards__image {
    margin-bottom: 11px;
  }
}

@media (max-width: 660px) {
  .item-cards__image {
    margin-bottom: 9px;
  }
}

.item-cards__image img {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  max-width: 100%;
}

.item-cards__title {
  font-size: 1.25em;
  line-height: 1.3;
  color: #333333;
  margin-bottom: 47px;
  position: relative;
  width: 100%;
}

.item-cards__title::after {
  content: "";
  position: absolute;
  bottom: -17px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 80%;
  height: 1px;
  background-color: #E2E2E2;
}

@media (max-width: 660px) {
  .item-cards__title {
    margin-bottom: 39px;
  }
}

.item-cards__text {
  line-height: 1.375;
  color: #666666;
  max-width: 211px;
  margin-bottom: 41px;
}

@media (max-width: 768px) {
  .item-cards {
    margin-bottom: 29px;
  }
}

@media (max-width: 660px) {
  .item-cards {
    margin-bottom: 26px;
  }
}

.footer {
  background-color: #fff;
}

.footer__body {
  position: relative;
  padding-top: 69px;
  padding-bottom: 32px;
}

@media (max-width: 768px) {
  .footer__body {
    padding: 13px 0;
  }
}

.footer__menu {
  top: 0;
}

@media (max-width: 768px) {
  .footer__menu {
    display: none;
  }
}

.footer__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 0.875em;
  line-height: 1.43;
  color: #999999;
}

.footer__content {
  text-align: justify;
  margin-bottom: 10px;
}

.footer__copyright {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

@media (max-width: 768px) {
  .footer__copyright {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

body.lock {
  overflow: hidden;
}

body {
  font-family: "Roboto";
}

main p {
  line-height: 1.5;
}

[class*=__container] {
  max-width: 1420px;
  margin: 0 auto;
  padding: 0 30px;
}

@media (max-width: 768px) {
  [class*=__container] {
    max-width: none;
    padding: 0 15px;
  }
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100vh;
}

/*==========================================================*/
