main {
	flex: 1 1 auto;
	background-color: #fff;
	position: relative;
	// @media (max-width: 1200px) {
	// 	display: none;
	// }
	// @media (max-width: 590px) {
	// 	&::after {
	// 		height: 26px;
	// 	}
	// }
	
}


/*Первый блок ====================================================*/
.contacts {
	padding-top: 95px;
	@media (max-width: 1200px) {
		padding-top: 40px;
		// padding-bottom: 0;
	}
	@media (max-width: 768px) {
		padding-bottom: 0;
	}
	@media (max-width: 590px) {
		padding-top: 38px;
	}
	// =====================
	&::after {
		content: "";
		display: block;
		height: 90px;
		background-color: $bg1;
		margin-top: 65px;
	}
	@media (max-width: 1200px) {
		display: none;
	}
	@media (max-width: 590px) {
		display: block;
		&::after {
			height: 25px;
			margin-top: 25px;
		}
	}
	&__body {
		display: flex;
		justify-content: space-between;
		column-gap: 30px;
		@media (max-width: 1200px) {
			flex-direction: column;
			row-gap: 30px; 
		}
	}

	&__content { 
		display: flex;
		flex-direction: column;
		row-gap: 37px;
		@media (max-width: 1200px) {
			margin: 0 -15px;
			flex-direction: row;
			flex-wrap: wrap;
		}
	}
	
	&__title {
		margin-bottom: 40px;
		@media (max-width: 1200px) {
			margin-bottom: 3px;
			flex: 1 0 100%;
			padding: 0 15px;
		}
	}
	&__list {
		display: flex;
		flex-direction: column;
		li {
			line-height: 1.6;
			a {
				color: $cNetLinks;
			}
			span {
				color: $c4;
			}
			span.viber {
				color: $cViber;
			}
		}
		@media (max-width: 1200px) {
			flex: 0 1 50%;
			padding: 0 15px;
		}
		@media (max-width: 590px) {
			flex: 1 1 100%;
		}
	}

	&__map {
		margin: -20px 0;
		flex: 0 1 73.5%;
		position: relative;
		@media (max-width: 1200px) {
			padding-bottom: 74%;
			margin: 0;
		}
		@media (max-width: 768px) {
			flex: 1 1 auto;
			width: 100vw;
			left: -15px;
		}
		@media (max-width: 590px) {
			min-height: 570px;
		}
		iframe {
			position: absolute;
			top:0;
			left:0;
			width: 100%;
			height: 100%;
		}
	}
}
