main {
	flex: 1 1 auto;
}


/*Первый блок ====================================================*/
.hero {
	position: relative;
	padding-bottom: 45.1%;
	@media (max-width: 768px) {
		padding: 0;	
	}
	// Растягивание картинки на всю ширину и высоту блока
	&__main-image {
		max-width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
		@media (max-width: 768px) {
			display: none;	
		}
	}
	&__body {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		@media (max-width: 768px) {
			position: relative;
			top: 0;
			left: 0;
			padding: 0 15px;
			display: flex;
			justify-content: center;
			column-gap: 30px;
		}
		@media (max-width: 630px) {
			flex-direction: column;
			align-items: center;
			column-gap: 0px;
			row-gap: 10px;
		}
	}
	// позиционирование карточек по вертикали
	&__item {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	background-color: #fff;
	@media (max-width: 768px) {
		position: relative;
		top: 0;
		left: 0;
		transform: translate(0,0);	
	}
	}
// позиционирование карточек по горизонтали
	&__item-left {
		left: 0;
	}

	&__item-right {
		right: 0;
	}
	// позиционирование кнопки слайдера
	&__button.slider__button {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		width: 67px;
		height: 67px;
		border-radius: 50%;
		background-color: $cSliderBtn;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		z-index: 1;
		transition: all .3s ease;
		cursor: pointer;
		// Вертикальная линия кнопки
		&:after{
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 1px;
			height: 30px;
			background-color: #fff;
		}
		&:hover {
			transform: translate(-50%,-50%) scale(1.2) ;
		}
		// декоративные кнопки слайдера
		p {
			font-size: 36px;
			color: #fff;
			position: absolute;
			top: 50%;
			transform: translate(0, -50%);
			&:first-child{
				left: 0;
				transform: translate(50%, -54%);
				
			}
			&:last-child{
				right: 0;
				transform: translate(-50%,-54%);
			}
		}
		@media (max-width: 768px) {
			display: none;	
		}
	}
}
// сайдбары
.item-hero {
	display: flex;
	flex-direction: column;
	padding: 32px 30px 37px;
	border-radius: 5px;
	@media (max-width: 768px) {
		align-items: center;	
	}
	@media (max-width: 630px) {
	}
	&__head {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		margin-bottom: 32px;
	}

	&__icon {
		width: 42px;
		height: 42px;
		margin-right: 7px;
		border: 2px solid $cTools;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		img {
			max-width: 100%;
		}
	}

	&__title {
		max-width: 172px;
		color: $c2;
		line-height: 1.375;
	}
// Кнопка
	&__button {
		display: flex;
		justify-content: center;
		align-items: center;
		border: 1px solid $cBdLinks;
		border-radius: 100px;
		padding: 15px;
		max-width: 200px;
		transition: all .4s ease;
		line-height: 1.17;
		color: $c1;
		&:hover {
			background-color: rgb(117, 112, 112);
			color: #fff;
		}
		@media (max-width: 768px) {
			width: 225px;
		}
	}
	@media (max-width: 1200px) {
		background-color: rgba(255, 255, 255, 0.9);
	}
	@media (max-width: 768px) {
		background-color: #fff;
	}
}

/* Cards ====================================================*/

.cards {
	&__body {
		padding: 74px 0 105px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		text-align: center;
		@media (max-width: 768px) {
			padding: 60px 0 30px;
		}
		@media (max-width: 660px) {
			padding: 47px 0 24px;
		}
	}
	.header__logo {
		margin-bottom: 29px;
		z-index: 0; 
	}
	&__title {
		font-size: $fz2;
		line-height: 1.3;
		color: $c1;
		margin-bottom: 29px;
	}


	&__text {
		line-height: 1.5;
		color: $c1;
		max-width: 811px;
		margin: 0 auto;
	}
	&__item {
		width: 100%;
	}
}

.item-cards {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 48px;
	row-gap: 25px;
	column-gap: 17px;
	@media (max-width: 768px) {
		gap: 25px;
	}
	&__card {
		flex: 1 1 auto;
		@media (max-width: 1200px) {
			flex: 0 1 48%;
		}
		@media (max-width: 660px) {
			flex: 1 1 100%
		}
	}
	&__card:hover {
		// transition: all .3s ease;
		.item-cards__image img{
			transform: scale(1.2);
		}
	}
	&__body {
		background: #fff;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		border-radius: 5px;
		overflow: hidden;
	}
	&__image {
		margin-bottom: 28px;
		position: relative;
		padding-bottom: 45%;
		width: 100%;
		overflow: hidden;
		@media (max-width: 768px) {
			margin-bottom: 11px;
		}
		@media (max-width: 660px) {
			margin-bottom: 9px;
		}
		img{
			transition: all .3s ease;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
			max-width: 100%;
		}
	}

	&__title {
		font-size: $fz2;
		line-height: 1.3;
		color: $c1;
		margin-bottom: 47px;
		position: relative;
		width: 100%;
		&::after {
			content: "";
			position: absolute;
			bottom: -17px;
			left: 50%;
			transform: translate(-50%, 0);
			width: 80%;
			height: 1px;
			background-color: $bg3;
		}
		@media (max-width: 660px) {
			margin-bottom: 39px;
		}
	}

	&__text {
		line-height: 1.375;
		color: $c2;
		max-width: 211px;
		margin-bottom: 41px;
	}
	@media (max-width: 768px) {
		margin-bottom: 29px;
	}
	@media (max-width: 660px) {
		margin-bottom: 26px;
	}
}
