$fz1: 1em;
$fz2: 1.25em;
$fz3: 1.5em;
$fz4: 2em;

$fz5: 0.5em;
$fz6: 0.6em;
$fz7: 0.7em;
$fz8: 0.8em;
$fz9: 0.9em;


$c1: #333333; 
$c2: #666666;
$c3: #777777;
$c4: #999999;
$cTools: #27AE60;
$cBdLinks: #CECECE;
$cSliderBtn: #FF0000;
$cNetLinks:#337AB7;
$cInput: #828282;
$cViber: #79509A;

$bg1: #E5E5E5;
$bg2: #F9F9F9;
$bg3: #E2E2E2;
$bg4: #999999;
$bg5: #F8F9FA;
$bg6: #E6E6E6;
$bg7: #EBEBEB;
$bgButtonForm:#27AE60;

$ff1: "Roboto";
$ff2: Arial, "Helvetica Neue", Helvetica, sans-serif;
$ff3: "Times New Roman", Times, Baskerville, Georgia, serif;
